@import 'base/variables';
@import 'base/mixins';
@import 'base/media';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
}

@import 'block/promo';
@import 'block/header';
@import 'block/button';
@import 'block/advatages';
@import 'block/title';
@import 'block/consultations';
@import 'block/feed-form';
@import 'block/corusel';
@import 'block/catalog';

@import 'base/media';