.feed-form {
    display: flex;
    flex-direction: column;
    input {
        width: 300px;
        height: 50px;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
        padding: 20px;
        &:nth-child(1) {
            margin-top: 25px;
        }
    }
    button {
        margin-top: 20px;
    }

    .error {
        font-weight: 300;
        font-size: 14px;
        border: 2px solid $main-color;
    }
    label.error {
        border: none;
        color: #fff;
        margin-bottom: 5px;
    }
}